<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734079714670-dn559k94jkdhkmd9a6tvbbbmmmfpr66d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734079714670-dn559k94jkdhkmd9a6tvbbbmmmfpr66d</string>
	<key>API_KEY</key>
	<string>AIzaSyBCUpZJvA_YSPH8qkgvwMb2e6erbG_R_xo</string>
	<key>GCM_SENDER_ID</key>
	<string>734079714670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>costa.PPTCOSTA-Cobsccomp192P-032</string>
	<key>PROJECT_ID</key>
	<string>nibmparking032</string>
	<key>STORAGE_BUCKET</key>
	<string>nibmparking032.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734079714670:ios:eb70ce74359ae0dcd92d7f</string>
</dict>
</plist>